.orders-dashboard {
    width: 50%;
    margin: 1em auto 1em auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.orders-dashboard-el {

    width: 30%;
    color: #fff;
    border: solid 2px rgb(117, 211, 255);
    border-radius: 12px;
    background-color: #627cc3;
    margin: 2em;
    padding: 5px;
    text-decoration: none;
    align-items: center;
    justify-content: center;

}

.icon-orders {
    width: 35%;
}

.orders-dashboard-el p {
    display: block;
}

.order-delivery-data {
    width: 90%;
    margin: auto;
}

.order-delivery-data p {
    padding: 10px;
}

.button-price-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}


.button-price-negociation {
    padding: 4px 1em 4px 1em;
    margin: 10px;
    background-color: #627cc3;
    border: solid #627cc3 4px;
    border-radius: 2px;
    color: #fff;
}

.button-price-negociation:active {
    box-shadow: 0 1px #627cc3;
    transform: translateY(1px);
}

.button-price-negociation-disabled {
    background-color: #b0c5ff;
    border: solid #bdcfff 4px;
}

@media (max-width:820px) {

    .orders-dashboard {
        width: 100%;
    }

    .orders-dashboard-el {
        width: 70%;
        margin: 10px;
    }

    .icon-orders {
        width: 20%;
    }

    .order-delivery-data {
        text-align: left;
        width: 97%;
    }

}